@import '../../../../styles.scss';

.block {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &--content {
        display: block;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding: 20px 30px;

        h3 {
            width: 250px;
        }
        
        img {
            width: 60px;
            padding-bottom: 10px;
        }

        p {
            margin: 0;
        }

    }

    &--window {
        background-color: $app-dark-blue;
    }

    &--incident {
        background-color: $app-light-blue;
    }

}