<div class="row">
    <div class="col-12">
        <a 
        routerLink="/validate-data/{{ data.id }}"
        class="block block--validate">
            <div class="block--content">
                <img class="img-fluid" src="../assets/img/validate.svg" alt="Validate icon" />
                <h3>Ik wil data van andere verifiëren</h3>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a routerLink="/supply-data" class="block block--incident">
            <div class="block--content">
                <img class="img-fluid" src="../assets/img/report.svg" alt="Incident icon" />
                <h3>Ik wil een nieuw incident rapporteren</h3>
            </div>
        </a>
    </div>
</div>